body,html{height:100%;padding:0px;margin:0px;color:#888E8E;}

.a,.b,.c{display:inline-block;width:33.33%;height:100%;float:left;}

.d{position:fixed;bottom:0px;height:14%;width:100%;}

td:hover {color:yellow}
a:hover {color:yellow}
a{color:#888E8E;}
th{text-decoration: underline;}
h1{font-size:14px;}
button {font-size: 10px;background-color:#424949  ;border:1px solid #888E8E;border-radius: 12px;}
button:hover{background-color:yellow;}
button:active{ background-color: #3e8e41;box-shadow: 0 5px #666  ;transform: translateY(4px);}
.button1 {font-size: 10px;background-color:#424949  ;border:1px solid #888E8E;border-radius: 12px;}
.button1:hover {background-color:yellow;}
.button1:active{ background-color: #3e8e41;box-shadow: 0 1px #666  ;transform: translateY(4px);}


#nave{text-align:center;position:fixed;top:10%;width:100%;height:20%}
#nave img{height:100%;}
#cpanel{float:right; margin:1px; font-size:8px; border: 1px solid #888E8E;color:#888E8E;}
#menu{float:left; margin:1px; font-size:8px; border: 1px solid #888E8E;position:relative;z-index:1;padding:2px;}
